<div class="top_page">
    <div class="logo_img">
        <img src="<%= asset_path "logo.png" %>">
    </div>
    <div>
        <h1 class="nicomoji">ようこそ！　Tubuyaitaへ</h1>
        <p>このサイトは、DIVE into CODEの課題で作成したツイッター風のデモサイトです。</p>
        <p>あなたの「つぶやき」を投稿して下さい！！</p>
        <p>なお、本サイトの作成においては、フリーのロゴジェネレーターや素材を利用させていただいています。</p>
        <p>また、一部にwebフォント「google fonts Early Access」のうちニコモジとニクキュウを利用しています。</p>
    </div>
</div>
